<h1>Editing Barter</h1>

<span class="asteriskField">
<p style="font-size: medium"> * indicates a required field</p>
</span>


<%= render 'form' %>
<%= link_to 'Show', @barter %> |
<%= link_to 'Back', barters_path %>
