<body class="page">





  </br>
  <h4 id="intro_header">Welcome to the Trade 'N' Post</h4>
  <p id="intro_paragraph">


      At Trade 'N' Post you can freely exchange goods and services in a cash-free environment.</br>
      The history of bartering dates all the way back to 6000BC when the Phoenicians bartered goods to those located in various cities across the ocean. In the modern age, with the advent of money, bartering was more organized. In this age of technology Trade 'N' Post is here for you.

  </p>

<div class="picture">
  <div class="row">
    <div class="col-md-12">
    <%= image_tag("Barter-Exchange-Trading.jpg", class: "img-responsive center-block", style: "width: 100%;")%>
    </div>
  </div>
</div>


</body>
