<body class="page">





  </br>
  <p>Cupcake ipsum dolor sit amet gingerbread lemon drops gingerbread. Cupcake sugar plum apple pie danish sweet roll. Chocolate cake icing jelly beans cupcake soufflé candy. Sweet roll chocolate cake chocolate donut pastry tootsie roll gummi bears marshmallow tiramisu. Chocolate bar pastry cake. Chupa chups jelly cheesecake pudding pastry biscuit. Muffin carrot cake liquorice cupcake apple pie cake toffee. Croissant pastry chupa chups wafer oat cake fruitcake carrot cake bear claw. Sweet pie liquorice carrot cake donut cake. Candy canes sugar plum carrot cake soufflé. Candy cookie carrot cake candy canes apple pie tootsie roll. Biscuit ice cream danish jelly jelly-o.
  </p>

<div class="picture">
  <div class="row">
    <div class="col-md-12">
    <%= image_tag("Barter-Exchange-Trading.jpg", class: "img-responsive center-block", style: "width: 100%;")%>
    </div>
  </div>
</div>

<%= link_to 'New Barter', new_barter_path %>
</body>
