<body class="page">





  </br>
  <p id="intro">Welcome to the Trade 'N' Post. In times of need money isn't always readily available.  We can come together like people have been doing for ages and trade in a like minded fashion.
  </p>

<div class="picture">
  <div class="row">
    <div class="col-md-12">
    <%= image_tag("Barter-Exchange-Trading.jpg", class: "img-responsive center-block", style: "width: 100%;")%>
    </div>
  </div>
</div>

<%= link_to 'New Barter', new_barter_path %>
</body>
