<div class="row">
    <div class="col-md-12">
<h1 class='unauthorized'>YOU HAVE REACHED THIS PAGE DUE TO UNLAWFUL ATTEMPTS AT ACCESSING PRIVATE INFORMATION!</h1>
    </div>
</div>

<div class="jumbotron jumbotron-fluid" id="sam">
    <%= image_tag('https://images5.alphacoders.com/438/438287.jpg') %>
</div>
