<body class="page">




<div class="container">

  <!-- The justified navigation menu is meant for single line per list item.
       Multiple lines will require custom code not provided by Bootstrap. -->
  <div class="masthead">
    <h3 id="tradingpost">The Trading Post</h3>
    <nav>
      <ul class="nav nav-justified" id="navigation">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Goods</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#"><span class='glyphicon glyphicon-hand-right'> Login</a></li>
        <li><a href="#"><span class='glyphicon glyphicon-hand-left'> Logout</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Location <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Neighborhoods</li>
            <li><a href="/one">Zipcode 1</a></li>
            <li><a href="/two">Zipcode 2</a></li>
            <li><a href="/three">Zipcode 3</a></li>
            <li><a href="/three">Zipcode 4</a></li>
            <li><a href="/three">Zipcode 5</a></li>
            <li><a href="/three">Zipcode 6</a></li>
            <li><a href="/three">Zipcode 7</a></li>
            <li class="divider"></li>
            <li><a href="/admin">Local Twitter Feed</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Categories</li>
            <li><a href="/one">Goods</a></li>
            <li><a href="/two">Services</a></li>
          </ul>
        </li>


      </ul>
    </nav>
  </div>


<div class="picture">
  <div class="row">
    <div class="col-md-12">
    <%= image_tag("Barter-Exchange-Trading.jpg", class: "img-responsive center-block")%>
    </div>
  </div>
</div>

</div>
<footer class="footer">
  <div class="container">
    <p class="text-muted">A Christina, David, Daniel, Dom and Ramin Production!</p>
  </div>
</footer>
</body>
