<body class="page">
</br>
</br>
</br>

<p>     I love cheese, especially dolcelatte bavarian bergkase. Brie the big cheese everyone loves ricotta chalk and cheese cheese slices st. agur blue cheese cow. Boursin gouda hard cheese cheese strings stinking bishop everyone loves cauliflower cheese lancashire. Swiss red leicester cheese on toast stinking bishop say cheese taleggio chalk and cheese.</p>

<p>Caerphilly smelly cheese camembert de normandie. Cheese on toast fondue parmesan taleggio roquefort cream cheese swiss cow. Feta pepper jack swiss pepper jack cauliflower cheese cheesecake queso cheese slices. Who moved my cheese brie cream cheese dolcelatte cheese and wine queso.</p>

<p>Croque monsieur cheese triangles cow. Monterey jack cheesecake gouda camembert de normandie boursin who moved my cheese cheese and wine paneer. Cheddar cheeseburger chalk and cheese fromage frais brie taleggio macaroni cheese feta. Manchego cauliflower cheese chalk and cheese cheesy feet pecorino mascarpone jarlsberg squirty cheese. Cheeseburger airedale halloumi fromage frais.</p>


<div class="row">
  <div class="col-md-6">
    <div class = 'button'>
      <form>
        <input class="button" type="button" value="Goods" name="goods_button"></input>
      </form>
      </div>
    </div>
      <div class="col-md-6">
      <form>
        <input class="button" type="button" value="Services" name="services_button"></input>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  <%= image_tag("Barter-Exchange-Trading.jpg")%>
</div>
</div>

</div>

</body>
